#mainDiv{
    width:100%;
    height: auto;
}


@media screen and (min-width: 769px){
     .col-lg-12{
        width: 100%;
        height: auto;
        float: left;   
    }
    .col-lg-11{
        width: 91.66%;
        height: auto;
        float: left;   
    }
    .col-lg-10{
        width: 83.33%;
        height: auto;
        float: left;   
    }
    .col-lg-9{
        width: 75%;
        height: auto;
        float: left;   
    }
    .col-lg-8{
        width: 66.66%;
        height: auto;
        float: left;   
    }
    .col-lg-7{
        width: 58.33%;
        height: auto;
        float: left;   
    }
    .col-lg-6{
        width: 50%;
        height: auto;
        float: left;   
    }
    .col-lg-5{
        width: 41.66%;
        height: auto;
        float: left;   
    }
    .col-lg-4{
        width: 33.33%;
        height: auto;
        float: left;   
    }
    .col-lg-3{
        width: 25%;
        height: auto;
        float: left;   
    }
    .col-lg-2{
        width: 16.66%;
        height: auto;
        float: left;   
    }
    .col-lg-1{
        width: 8.33%;
        height: auto;
        float: left;   
    }
}
@media screen and (max-width: 769px){
      .col-md-12{
        width: 100%;
        height: auto;
        float: left;   
    }
    .col-md-11{
        width: 91.66%;
        height: auto;
        float: left;   
    }
    .col-md-10{
        width: 83.33%;
        height: auto;
        float: left;   
    }
    .col-md-9{
        width: 75%;
        height: auto;
        float: left;   
    }
    .col-md-8{
        width: 66.66%;
        height: auto;
        float: left;   
    }
    .col-md-7{
        width: 58.33%;
        height: auto;
        float: left;   
    }
    .col-md-6{
        width: 50%;
        height: auto;
        float: left;   
    }
    .col-md-5{
        width: 41.66%;
        height: auto;
        float: left;   
    }
    .col-md-4{
        width: 33.33%;
        height: auto;
        float: left;   
    }
    .col-md-3{
        width: 25%;
        height: auto;
        float: left;   
    }
    .col-md-2{
        width: 16.66%;
        height: auto;
        float: left;   
    }
    .col-md-1{
        width: 8.33%;
        height: auto;
        float: left;   
    }
}
@media screen and (max-width: 468px){
     .col-sm-12{
        width: 100%;
        height: auto;
        float: left;   
    }
    .col-sm-11{
        width: 91.66%;
        height: auto;
        float: left;   
    }
    .col-sm-10{
        width: 83.33%;
        height: auto;
        float: left;   
    }
    .col-sm-9{
        width: 75%;
        height: auto;
        float: left;   
    }
    .col-sm-8{
        width: 66.66%;
        height: auto;
        float: left;   
    }
    .col-sm-7{
        width: 58.33%;
        height: auto;
        float: left;   
    }
    .col-sm-6{
        width: 50%;
        height: auto;
        float: left;   
    }
    .col-sm-5{
        width: 41.66%;
        height: auto;
        float: left;   
    }
    .col-sm-4{
        width: 33.33%;
        height: auto;
        float: left;   
    }
    .col-sm-3{
        width: 25%;
        height: auto;
        float: left;   
    }
    .col-sm-2{
        width: 16.66%;
        height: auto;
        float: left;   
    }
    .col-sm-1{
        width: 8.33%;
        height: auto;
        float: left;   
    }
}



.blue{
    background: blue;
}
.green{
    background: green;
}
.red{
    background: red;
}
.orange{
    background: orange;
}